body{
    background-color: black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}
.seat{
    background-color: gray;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    margin: 3px;
    transition: .5s ;
}
.seat:not(.reserved):hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: .5s;
}
.seat.selected{
background-color: #f6eb6f;
}
.seat.reserved{
    background-color: #fff;
}
.seat:nth-of-type(2){
    margin-right:20px ;
}
.seat:nth-last-of-type(2){
    margin-right: 20px;
}
.scree{
    width: 240px;
    height: 50px;
    margin:  20px 0 ;
    background-color: #fff  ;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(255, 255,255, .7);
}
.row{
    display: flex;
}
.movie-list{
    margin: 30px  0;
}
.info{
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    padding: 7px;
    color: #fff;
}
.info li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px ;
}
p.text span{
    color: #f6eb6f;
}